<div>
    <div class="top_white_strip">
        <a href="/" class="nav_btn active">HOME</a>
        <a href="/yearsChart" class="nav_btn">CHART</a>
        <a href="/contact" class="nav_btn">CONTACT</a>
    </div>
    <div class="marquee_strip">
        <marquee behavior="scroll" direction="left" scrollamount="5" style="width:100%;">Welcome to the official
            LUCKY-SATTA 7 website. Stay updated with informative content about the Satta Result, chart, history,
            risk, latest news, and updates related to LUCKY-SATTA 7 and Matka games (Delhi Bazar, Gali,
            Faridabad,
            Ghaziabad, Disawar, Shri Ganesh, and Delhi Matka). Explore detailed insights into the world of Satta
            King, along with real-time LUCKY-SATTA 7 results and trending gaming information. The A7-LUCKY-SATTA
            7
            website does not promote any kind of satta activities. This website is made for entertainment
            purposes only.</marquee>
    </div>

    <nav class="border-gray-200 bg-gradient-to-br from-blue-400 to-pink-700">
        <div class="flex flex-wrap items-center justify-center p-3">
            <h1 class="blink_text">LUCKY-SATTA 7 </h1>
        </div>
    </nav>
</div>