<div>
    <div class="flex justify-center items-center gap-[6px] sm:gap-[12px] p-[12px] bg-white">
        <a href="/" class="flex-1 max-w-[200px] flex justify-center items-center py-[8px] sm:py-[12px] rounded-[20px] sm:rounded-[30px] font-bold text-[12px] sm:text-[16px] no-underline bg-gradient-to-r from-blue-500 to-pink-500 text-white shadow-[0_6px_15px_rgba(0,0,0,0.25)] scale-105 transition duration-300">HOME</a>
        <a href="/yearsChart" class="flex-1 max-w-[200px] flex justify-center items-center py-[8px] sm:py-[12px] rounded-[20px] sm:rounded-[30px] font-bold text-[12px] sm:text-[16px] no-underline bg-gradient-to-r from-blue-500 to-pink-500 text-transparent bg-clip-text border-2 border-gray-200 shadow-[0_4px_10px_rgba(0,0,0,0.1)] transition duration-300 hover:-translate-y-[3px] hover:shadow-[0_8px_20px_rgba(0,0,0,0.2)]">CHART</a>
        <a href="/contact" class="flex-1 max-w-[200px] flex justify-center items-center py-[8px] sm:py-[12px] rounded-[20px] sm:rounded-[30px] font-bold text-[12px] sm:text-[16px] no-underline bg-gradient-to-r from-blue-500 to-pink-500 text-transparent bg-clip-text border-2 border-gray-200 shadow-[0_4px_10px_rgba(0,0,0,0.1)] transition duration-300 hover:-translate-y-[3px] hover:shadow-[0_8px_20px_rgba(0,0,0,0.2)]">CONTACT</a>
    </div>
    <div class="bg-white px-[10px] py-[8px] font-semibold text-[16px] w-full overflow-hidden">
        <marquee behavior="scroll" direction="left" scrollamount="5" class="block w-full">Welcome to the official
            LUCKY-SATTA 7 website. Stay updated with informative content about the Satta Result, chart, history,
            risk, latest news, and updates related to LUCKY-SATTA 7 and Matka games (Delhi Bazar, Gali,
            Faridabad,
            Ghaziabad, Disawar, Shri Ganesh, and Delhi Matka). Explore detailed insights into the world of Satta
            King, along with real-time LUCKY-SATTA 7 results and trending gaming information. The LUCKY-SATTA 7
            website does not promote any kind of satta activities. This website is made for entertainment
            purposes only.</marquee>
    </div>

    <nav class="border-gray-200 bg-gradient-to-br from-blue-400 to-pink-700">
        <div class="flex flex-wrap items-center justify-center p-3">
            <h1 class="text-[33px] font-[800] text-white animate-blink-glow tracking-[2px]">LUCKY-SATTA 7 </h1>
        </div>
    </nav>
</div>