<div>
    <div class="flex justify-center items-center gap-[4px] sm:gap-[12px] p-[12px] bg-white w-full">
        <a href="/" class="flex-1 flex justify-center items-center py-[4px] sm:py-[8px] rounded-full font-bold text-[12px] sm:text-[16px] no-underline bg-gradient-to-r from-blue-500 to-pink-500 text-white shadow-[0_4px_10px_rgba(0,0,0,0.25)] transition duration-300">HOME</a>
        <a href="/yearsChart" class="flex-1 flex justify-center items-center py-[4px] sm:py-[8px] rounded-full font-bold text-[12px] sm:text-[16px] no-underline bg-gradient-to-r from-blue-500 to-pink-500 text-transparent bg-clip-text border-2 border-gray-200 shadow-[0_2px_8px_rgba(0,0,0,0.1)] transition duration-300 hover:-translate-y-[2px] hover:shadow-[0_6px_15px_rgba(0,0,0,0.2)]">CHART</a>
        <a href="/contact" class="flex-1 flex justify-center items-center py-[4px] sm:py-[8px] rounded-full font-bold text-[12px] sm:text-[16px] no-underline bg-gradient-to-r from-blue-500 to-pink-500 text-transparent bg-clip-text border-2 border-gray-200 shadow-[0_2px_8px_rgba(0,0,0,0.1)] transition duration-300 hover:-translate-y-[2px] hover:shadow-[0_6px_15px_rgba(0,0,0,0.2)]">CONTACT</a>
    </div>
    <div class="bg-white px-[10px] py-[8px] font-semibold text-[16px] w-full overflow-hidden">
        <marquee behavior="scroll" direction="left" scrollamount="5" class="block w-full">महत्वपूर्ण सूचना: हम केवल संख्याओं के अनुमान/भविष्यवाणी प्रदान करते हैं। हमारा किसी भी प्रकार के जुआ या सट्टेबाजी से कोई संबंध नहीं है। किसी भी लाभ या हानि के लिए आप स्वयं पूरी तरह से जिम्मेदार होंगे।</marquee>
    </div>

    <nav class="border-gray-200 bg-gradient-to-br from-blue-400 to-pink-700">
        <div class="flex flex-wrap items-center justify-center p-3">
            <h1 class="text-[33px] font-[800] text-white animate-blink-glow tracking-[2px]">LUCKY-SATTA 7 </h1>
        </div>
    </nav>
</div>