
    <div id="__next">
        <!-- CONTACT STRIP -->
        <div class="contact_section text-center" style="background:#fff; padding:15px 10px; text-align:center;">

            <p class="contact_text" style="font-size:16px; margin-bottom:10px; color:#333;">
                Contact for Any Info At :-
                <span class="contact_email"
                    style="font-weight:600; background: linear-gradient(to right, #3b82f6, #ec4899); -webkit-background-clip:text; -webkit-text-fill-color:transparent;">
                    dostmera643@gmail.com
                </span>
            </p>

            <a target="_blank" href="https://wa.me/+917206591251" style="display:block; text-align:center;">

                <img src="uploads/whatsapp-logo.png" alt="whatsapp" width="80" height="80"
                    style="display:block; margin:0 auto; transition:0.3s;">
            </a>

        </div>

        <footer class="p-4 text-white bg-[#406e83] shadow md:px-6 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between"><a class="flex items-center mb-4 sm:mb-0"
                    href="/"><span
                        style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"><span
                            style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"></span></a>
                <ul class="flex flex-wrap items-center justify-end mb-4 text-sm text-gray-500 md:justify-start sm:mb-0">
                    <li class="flex items-center">
                        <a class="px-2 text-xs md:text-lg text-white hover:underline" href="/privacy-policy">Privacy
                            Policy</a>
                        <span class="text-gray-200 md:hidden">|</span>
                    </li>

                    <li class="flex items-center">
                        <a class="px-2 text-xs md:text-lg text-white hover:underline" href="/terms-and-conditions">Terms
                            &amp; Conditions</a>
                        <span class="text-gray-200 md:hidden">|</span>
                    </li>

                    <li class="flex items-center">
                        <a class="px-2 text-xs md:text-lg text-white hover:underline" href="/disclaimer">Disclaimer</a>
                    </li>

                </ul>
            </div>
            <hr class=" border-gray-200 sm:mx-auto lg:my-8" />
            <p class="text-sm text-center text-red-400 ">!! DISCLAIMER:-LUCKY-SATTA 7 .com is a non-commercial website.
                Viewing This Website Is Your Own Risk. All The Information Shown On Website Is Sponsored And We Warn You
                That Matka Gambling/Satta May Be Banned Or Illegal In Your Country. We Are Not Responsible For Any
                Issues Or Scam. We Respect All Country Rules/Laws. If You Are Not Agree With Our Site Disclaimer. Please
                Quit Our Site Right Now. Thank You.</p>
            <hr class="text-center border-gray-200 sm:mx-auto lg:my-4" /><span
                class="block text-sm text-white sm:text-center "> © <a class="hover:underline " href="/">LUCKY-SATTA7
                    (LUCKY-SATTA7) OFFICIAL WEBSITE <!-- -->™</a>. All Rights Reserved.</span>
        </footer>
    </div>
    </div><!--  Must Check -->

    <script>
        document.querySelectorAll(".faq_question").forEach((item) => {
            item.addEventListener("click", () => {
                let parent = item.parentElement;

                // Close others (optional - accordion style)
                document.querySelectorAll(".faq_item").forEach((el) => {
                    if (el !== parent) {
                        el.classList.remove("active");
                    }
                });

                // Toggle current
                parent.classList.toggle("active");
            });
        });
    </script>
