<!DOCTYPE html>
<html lang="en-IN">

<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description"
        content="lucky-satta7 results with updated charts, historical records, and fast daily updates. Check Delhi, Faridabad, and Disawar results online." />
    <link rel="canonical" href="https://a7-sattaking.com/" />
    <link hreflang="en-us" href="https://a7-sattaking.com" />
    <meta name="keywords" content="lucky-satta7 – Live Satta Result Today & Chart 2026 " />
    <title>lucky-satta7 – LIVE SATTA RESULT TODAY & CHART 2026 </title>
    <link rel="shortcut icon" type="image/png" href="/7Favicon.png">
    <meta property="og:title" content="lucky-satta7official website" />
    <meta property="og:site_name" content="lucky-satta7official website" />
    <meta property="og:locale" content="en_IN" />
    <meta property="og:url" content="https://a7-sattaking.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="lucky-satta7 results with updated charts, historical records, and fast daily updates. Check Delhi, Faridabad, and Disawar results online." />
    <meta property="og:image" content="/7Favicon.png" />
    <meta name="next-head-count" content="25" />
    <link rel="icon" type="favicon" href="7Favicon.png" />
    <link rel="preload" href="https://a7-sattaking.com/designs/multipleColor1/css/55c4d0e8b8c5508b.css" as="style" />
    <link rel="stylesheet" href="https://a7-sattaking.com/designs/multipleColor1/css/55c4d0e8b8c5508b.css"
        data-n-g="" />
    <link rel="preload" href="https://a7-sattaking.com/designs/multipleColor1/css/1aae1bcfa6b95e00.css" as="style" />
    <link rel="stylesheet" href="https://a7-sattaking.com/designs/multipleColor1/css/1aae1bcfa6b95e00.css"
        data-n-p="" /><noscript data-n-css=""></noscript>
    <link rel="preload" href="https://a7-sattaking.com/designs/multipleColor1/css/custom.css" as="style" />
    <script defer="" nomodule=""
        src="https://a7-sattaking.com/designs/multipleColor1/chunks/polyfills-c67a75d1b6f99dc8.js"></script>
    <script defer="" src="https://a7-sattaking.com/designs/multipleColor1/chunks/751.ecd3a919f395e729.js"></script>
    <script src="https://a7-sattaking.com/designs/multipleColor1/chunks/webpack-169329c8782f6254.js" defer=""></script>
    <script src="https://a7-sattaking.com/designs/multipleColor1/chunks/framework-4556c45dd113b893.js"
        defer=""></script>
    <script src="https://a7-sattaking.com/designs/multipleColor1/chunks/main-96dffd05584c06d5.js" defer=""></script>
    <script src="https://a7-sattaking.com/designs/multipleColor1/chunks/pages/_app-f378b6cae1df25ac.js"
        defer=""></script>
    <script src="https://a7-sattaking.com/designs/multipleColor1/chunks/509-8a493ed85a2af663.js" defer=""></script>
    <script src="https://a7-sattaking.com/designs/multipleColor1/chunks/pages/index-6a20176f3a4798ba.js"
        defer=""></script>
    <script src="https://a7-sattaking.com/designs/multipleColor1/bcOegbmd4p7Kx93Vf_Fd0/_buildManifest.js"
        defer=""></script>
    <script src="https://a7-sattaking.com/designs/multipleColor1/bcOegbmd4p7Kx93Vf_Fd0/_ssgManifest.js"
        defer=""></script>
    <style>
        /* WHITE STRIP */
        .top_white_strip {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            padding: 12px;
            background: #fff;
        }

        /* BUTTON STYLE */
        .nav_btn {
            flex: 1;
            max-width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 0;
            border-radius: 30px;
            font-weight: 700;
            font-size: 16px;
            text-decoration: none;
            background: linear-gradient(to right, #3b82f6, #ec4899);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            border: 2px solid #e5e7eb;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
        }

        /* MOBILE VIEW */
        @media (max-width: 640px) {
            .top_white_strip {
                gap: 6px;
            }

            .nav_btn {
                font-size: 12px;
                padding: 8px 0;
                border-radius: 20px;
            }
        }

        .marquee_strip {
            background: #fff;
            padding: 8px 10px;
            font-weight: 600;
            font-size: 16px;
            width: 100%;
            overflow: hidden;
        }

        .marquee_strip marquee {
            display: block;
            width: 100%;
        }

        .nav_btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }

        .nav_btn.active {
            background: linear-gradient(to right, #3b82f6, #ec4899);
            color: #fff;
            -webkit-text-fill-color: #fff;
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
            transform: scale(1.05);
        }

        .blink_text {
            font-size: 33px;
            font-weight: 800;
            color: #fff;
            animation: blinkGlow 1s infinite;
            letter-spacing: 2px;
        }

        @keyframes blinkGlow {
            0% {
                opacity: 1;
                text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 20px #3b82f6;
            }

            50% {
                opacity: 0.5;
                text-shadow: none;
            }

            100% {
                opacity: 1;
                text-shadow: 0 0 5px #fff, 0 0 10px #ff4da6, 0 0 20px #3b82f6;
            }
        }

        @keyframes blink {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0.3;
            }

            100% {
                opacity: 1;
            }
        }

        .blink_black {
            color: #000;
            animation: blinkBlack 1s infinite;
        }

        @keyframes blinkBlack {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0.3;
            }

            100% {
                opacity: 1;
            }
        }
    </style>
    <script>
        setInterval(function () {
            let now = new Date();
            let options = {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            };
            let date = now.toLocaleDateString('en-US', options);
            let time = now.toLocaleTimeString('en-US');
            document.getElementById("timerBox").innerText = date + " " + time;
        }, 1000);
    </script>
    <meta name="W3Techs-verification" content="x8TPCHXZoLN3ik7Z" />
    <meta name="google-site-verification" content="tqf7Ko6bHAvIYnAZjh_Ovu64yAdX7INl9DOxnlRa8GI" />
    <meta name="p:domain_verify" content="0754925f57b8c1b1fafe735a52cd0840" />
</head>

<body class="max-w-7xl mx-auto font-Roboto">
    <div id="__next">
        <%- include('./partials/header') %>

            <%- body %>
    </div>
</body>

</html>