@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .nav_btn_text {
        background: linear-gradient(to right, #3b82f6, #ec4899);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .nav_btn_active {
        background: linear-gradient(to right, #3b82f6, #ec4899);
        color: #fff;
        -webkit-text-fill-color: #fff;
    }
}
